/***********************************************************/
/* Override Bootstrap Classes */
/***********************************************************/
/*
.container {
  width: 100%;  
}
*/
/***********************************************************/
/* Custom Classes */
/***********************************************************/
/*
.body-content {
  margin-left: 14em;
  width: 85%;  
  height: 600px;
}

.headerArea {
  padding: .7em;
  background-color: #2196f3;
  color: white;
  font-size: large;
}
*/
