@{
ViewBag.Title = "Card Boarding";
}
<div class="row m-0">
   <div class="col-lg-6 pl-0 float-left">
      <ol class="breadcrumb mb-3">
         <li class="breadcrumb-item"><a href="~/Home/CSIndex">Home</a></li>
         <li class="breadcrumb-item active">Card Boarding</li>
      </ol>
   </div>
   <div class="col-lg-6 pr-0 text-right float-left mt-0">
      <span class="font-light">Institution Name<a href="~/Home/CSIndex" class="font-light pl-2 switch-option">(Change)</a></span>
   </div>
</div>
<div class="row">
   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 float-left">
      <h4 class="nav-header mt-0">NAVIGATION</h4>
      <ul class="navbar-nav nav-stacked">
         <li class="nav-item"><a class="nav-link" href="~/Home/CSIndex"><i class="fas fa-fw fa-home"></i> Home</a> </li>
         <li class="nav-item submenu">
            <a class="nav-link collapsed py-1" href="#submenu" data-toggle="collapse" data-target="#submenu"><i class="fas fa-fw fa-user"></i>&nbsp;Card Holder<span class="float-right"><i class="more-less fas fa-angle-down mr-0"></i></span></a>
            <div class="collapse" id="submenu" aria-expanded="false">
               <ul class="flex-column nav">
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardHolder/Home"><i class="fas fa-home"></i> Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardHolder/GroupList"><i class="fas fa-address-card"></i> Card Holder Group List</a></li>
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardHolder/List"><i class="far fa-credit-card"></i> Card Holder List</a></li>
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardholderOverview/Index"><i class="fas fa-id-card"></i>&nbsp;Card Holder Overview</a></li>
               </ul>
            </div>
         </li>
         <li class="nav-item active"><a class="nav-link" href="~/CardBoarding/Index"><i class="fas fa-fw fa-plane"></i>&nbsp;Card Boarding</a></li>
         <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-fw fa-credit-card"></i>&nbsp;Reporting</a></li>
         <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shield-alt"></i>&nbsp;Authorizations</a></li>
         <li class="nav-item"><a class="nav-link" href="~/CSTransactions/Index"><i class="fas fas fa-street-view"></i>&nbsp;Transactions</a></li>
         <li class="nav-item"><a class="nav-link" href="~/DisputeLogs/Index"><i class="fas fas fa-question"></i>&nbsp;Dispute Log</a></li>
      </ul>
   </div>
   <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 float-left">
      <div class="row">
         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <!-- MultiStep Form start-->
            <form class="regform" action="" method ="get">
               <ul class="progressbar">
                  <li class="active">Step - 1</li>
                  <li>Step - 2</li>
                  <li>Step - 3</li>
                  <li>Step - 4</li>
               </ul>
               <fieldset class="first-fieldset">
                  <div class="card-header">
                     <h5 class="mb-0">Step 1 - Select Program, Design and Fees
                     </h5>
                  </div>
                  <div class="col-xl-6 offset-xl-2 col-lg-6 offset-lg-2 col-md-6 offset-md-2 col-12 float-left pr-0 text-right">
                     <div class="form-group">
                        <label for="selectProgram">Select Program</label>
                        <select class="form-control" id="selectProgram">
                           <option>option 1</option>
                           <option selected>option 2</option>
                           <option>option 3</option>
                        </select>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-xl-6 offset-xl-2 col-lg-6 offset-lg-2 col-md-6 offset-md-2 float-left text-right pr-0">
                     <div class="form-group">
                        <label for="selectDesign">Select Design</label>
                        <select class="form-control" id="selectDesign">
                           <option>option 1</option>
                           <option>option 2</option>
                           <option>option 3</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 float-left text-left pl-0 mt-custom">
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewDesign"><i class="fas fa-eye"></i>&nbsp;View Design
                     </button>
                  </div>
                  <div class="col-xl-6 offset-xl-2 col-lg-6 offset-lg-2 col-md-6 offset-md-2 float-left text-right pr-0">
                     <div class="form-group">
                        <label for="selectFees">Select Fees</label>
                        <select class="form-control" id="selectFees">
                           <option>option 1</option>
                           <option>option 2</option>
                           <option>option 3</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 float-left text-left pl-0 mt-custom">
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewFees"><i class="fas fa-eye"></i>&nbsp;View Fees
                     </button>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left text-left pl-0 pr-0 mt-2">
                     <hr>
                  </div>
                  <div class="clearfix"></div>
                  <button type="button" name="next" class="btn btn-primary btn-next float-center mb-2"><i class="fas fa-chevron-right"></i>&nbsp;Next</button>
               </fieldset>
               <fieldset>
                  <div class="card-header">
                     <h5 class="mb-0">Step 2 - Select Card Holder's and Groups
                     </h5>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pr-0 mt-3">
                     <input type="text" class="form-control" id="Search" placeholder="Enter Search Card Holder Or Group">
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 float-left pl-0 pr-0 mt-3 text-left">
                     <a class="btn btn-primary"><i class="fas fa-search"></i>&nbsp;Search</a>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pl-0 mt-3 text-right">
                     <a href="#" class="btn btn-primary mb-3" data-toggle="modal" data-target="#chooseFile"><i class="fas fa-upload"></i> Import</a>
                  </div>
                  <table class="table table-cardholder-list" cellspacing="0" width="100%">
                     <thead>
                        <th scope="row"></th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Group</th>
                        <th>Other Info</th>
                        <th>Is Active</th>
                        <th>Is Enabled</th>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-success">Active</span></td>
                           <td><span class="badge badge-success">Enabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-secondary">InActive</span></td>
                           <td><span class="badge badge-danger">Disabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-success">Active</span></td>
                           <td><span class="badge badge-success">Enabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-secondary">InActive</span></td>
                           <td><span class="badge badge-danger">Disabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-secondary">InActive</span></td>
                           <td><span class="badge badge-success">Enabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-success">Active</span></td>
                           <td><span class="badge badge-success">Enabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-secondary">InActive</span></td>
                           <td><span class="badge badge-danger">Disabled</span></td>
                        </tr>
                        <tr>
                           <th scope="row" class="relative"><input type="checkbox" class="checkbox"></th>
                           <td>Data 1</td>
                           <td>Data 2</td>
                           <td>Data 3</td>
                           <td>Data 4</td>
                           <td><span class="badge badge-secondary">InActive</span></td>
                           <td><span class="badge badge-success">Enabled</span></td>
                        </tr>
                     </tbody>
                  </table>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left text-left pl-0 pr-0 mt-2">
                     <hr>
                  </div>
                  <button type="button" name="next" class="btn btn-default btn-prev float-center-auto mb-2"><i class="fas fa-chevron-left"></i>&nbsp;Previous</button>
                  <button type="button" name="next" class="btn btn-primary btn-next mb-2"><i class="fas fa-chevron-right"></i>&nbsp;Next</button>
               </fieldset>
               <fieldset>
                  <div class="card-header">
                     <h5 class="mb-0">Step 3 - Select Options
                     </h5>
                  </div>
                  <div class="mt-3">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <div class="form-group">
                           <label for="cardboardTitle">Title</label>
                           <input type="text" class="form-control" id="cardboardTitle">
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="cardboardName">Name</label>
                           <input type="text" class="form-control" id="cardboardName">
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="cardboardVendor">Vendor</label>
                           <select class="form-control" id="cardboardVendor">
                              <option>option 1</option>
                              <option>option 2</option>
                              <option>option 3</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <div class="form-group">
                           <label for="cardboardSourceCode">Source Code</label>
                           <select class="form-control" id="cardboardSourceCode">
                              <option>option 1</option>
                              <option>option 2</option>
                              <option>option 3</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="expirationMonths">Expiration Months</label>
                           <input type="text" class="form-control" id="expirationMonths">
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="reissueMonths">Reissue Months</label>
                           <input type="text" class="form-control" id="reissueMonths">
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <div class="form-group">
                           <label for="cardboardStatus">Status</label>
                           <select class="form-control" id="cardboardStatus">
                              <option>option 1</option>
                              <option>option 2</option>
                              <option>option 3</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="ivrAccessCode">IVR Access Code</label>
                           <input type="text" class="form-control" id="ivrAccessCode">
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="version">Version</label>
                           <input type="text" class="form-control" id="version" value="1.21" readonly>
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left">
                        <div class="form-group">
                           <label for="issuanceDate">Issuance Date</label>
                           <input type="date" class="form-control" id="issuanceDate">
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 float-left pl-0">
                        <div class="form-group">
                           <label for="expiryDate">Expiry Date</label>
                           <input type="date" class="form-control" id="expiryDate">
                        </div>
                     </div>
                  </div>
                  <div class="clearfix">
                  </div>
                  <hr>
                  <div class="mt-3">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox">
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">IVR Access</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6  col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox" checked>
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Is Enabled</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6  col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox">
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Flagged for Archived</label>
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox" checked>
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">ATM</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox">
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">IVR</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox" checked>
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Cash with Purchase</label>
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox">
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Card Not Present</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox" checked>
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">API Transactions</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox">
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">POS Permitted</label>
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox" checked>
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Mail Order/Telephone Order</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox">
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Third Party Device</label>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 float-left pl-0">
                        <div class="form-group mb-0">
                           <label class="switch float-left mb-3">
                           <input type="checkbox" checked>
                           <span class="slider round"></span>
                           </label>
                           <label class="float-left ml-2">Allowed Keyed Transactions(Fraud)</label>
                        </div>
                     </div>
                  </div>
                  <div class="mt-0">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left">
                        <div class="form-group">
                           <label for="notes">Notes</label>
                           <textarea class="form-control" id="notes" placeholder="Notes...."></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left text-left pl-0 pr-0 mt-2">
                     <hr>
                  </div>
                  <button type="button" name="next" class="btn btn-default btn-prev float-center-auto mb-2"><i class="fas fa-chevron-left"></i>&nbsp;Previous</button>
                  <button type="button" name="next" class="btn btn-primary btn-next mb-2"><i class="fas fa-chevron-right"></i>&nbsp;Next</button>
               </fieldset>
               <fieldset>
                  <div class="card-header">
                     <h5 class="mb-0">Step 4 - Review
                     </h5>
                  </div>
                  <div class="review-section">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left mt-3">
                        <div class="form-group">
                           <p><strong>Program</strong><span class="float-right">MoneyNow</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Card Design</strong><span class="float-right">Design 1</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Fees</strong><span class="float-right">MoneyNow Administrative Fees</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Card Holders</strong><span class="float-right">1500</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Title</strong><span class="float-right">MoneyNow Title</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Name</strong><span class="float-right">Program Name</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Vendor</strong><span class="float-right">Innovative Computer Professionals</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Source Code</strong><span class="float-right">1.4.5</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Expiration Months</strong><span class="float-right">48</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Reissue Months</strong><span class="float-right">48</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Status</strong><span class="float-right">Clear</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>IVR Access Code</strong><span class="float-right">1.1</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Version</strong><span class="float-right">1.0.0</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Issuance Date</strong><span class="float-right">02/29/2018</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Expiry Date</strong><span class="float-right">02/29/2022</span></p>
                        </div>
                     </div>
                     <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left">
                        <h6>Options</h6>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>IVR Access</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Is Enable</strong><span class="float-right badge badge-danger">OFF</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Flagged for Archived</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>ATM</strong><span class="float-right badge badge-danger">OFF</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>IVR</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Cash with Purchase</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Card Not Present</strong><span class="float-right badge badge-danger">OFF</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>API Transactions</strong><span class="float-right badge badge-danger">OFF</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>POS Permitted</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Mail Order/Telephone Order</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left pr-1">
                        <div class="form-group">
                           <p><strong>Third Party Device</strong><span class="float-right badge badge-active">ON</span></p>
                        </div>
                     </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Allowed Keyed Transactions(Fraud)</strong><span class="float-right badge badge-danger">OFF</span></p>
                        </div>
                     </div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left">
                        <div class="form-group">
                           <p><strong>Notes</strong><span class="d-block">Some Notes Here...</span></p>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 text-left mt-2 float-left">
                        <div class="form-group">
                           <label for="schecduleDate">Schedule Date</label>
                           <input type="date" id="schecduleDate" class="form-control">
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left text-left pl-0 pr-0 mt-2">
                        <hr>
                     </div>
                  </div>
                  <button type="button" name="next" class="btn btn-default btn-prev float-center-auto mb-2"><i class="fas fa-chevron-left"></i>&nbsp;Previous</button>
                  <button type="submit" name="next" class="btn btn-primary btn-submit mb-2"><i class="fas fa-chevron-right"></i>&nbsp;Submit</button>
               </fieldset>
         </div>
      </div>
      </form>
      <!-- MultiStep Form end-->
   </div>
</div>
<!-- View Design modal start-->
<div class="modal fade" id="viewDesign" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-credit-card"></i>&nbsp;View Design</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 float-left text-left mt-2">
                  <div class="card-front-view">
                     <h6 class="text-center">Front Image</h6>
                     <img src="~/Content/images/@ViewBag.ClientTheme/card-designs/cash-card-front.png" alt="Cash-Card-Front-View" class="img-fluid">
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 float-left text-left mt-2">
                  <div class="card-back-view">
                     <h6 class="text-center">Back Image</h6>
                     <img src="~/Content/images/@ViewBag.ClientTheme/card-designs/cash-card-back.png" alt="Cash-Card-Front-View" class="img-fluid">
                  </div>
               </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 card-content mt-3">
                  <h6>Back Text</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- View Design modal end-->
<!-- View Fees modal start-->
<div class="modal fade" id="viewFees" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title"><i class="fab fa-gg-circle"></i>&nbsp;View Fees</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <table class="table">
               <tbody>
                  <tr>
                     <td>Initial Card Activation Fee Retail</td>
                     <td>&#36;2.5000+0.0000%</td>
                     <td><span class="badge badge-enable">Enabled</span></td>
                  </tr>
                  <tr>
                     <td>Initial Card Activation Fee Direct Deposit</td>
                     <td>&#36;2.5000+0.0000%</td>
                     <td><span class="badge badge-enable">Enabled</span></td>
                  </tr>
                  <tr>
                     <td>Load Fee ACH</td>
                     <td>&#36;2.5000+0.0000%</td>
                     <td><span class="badge badge-disabled">Disabled</span></td>
                  </tr>
                  <tr>
                     <td>Pin Change (IVR)</td>
                     <td>&#36;2.5000+0.0000%</td>
                     <td><span class="badge badge-disabled">Disabled</span></td>
                  </tr>
                  <tr>
                     <td>Cross Border Fee</td>
                     <td>&#36;2.5000+0.0000%</td>
                     <td><span class="badge badge-enable">Enabled</span></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<!-- View Fees modal end-->
<!-- View choose file modal start-->
<div class="modal fade" id="chooseFile" role="dialog">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-upload"></i>&nbsp;Import Card Holder</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action="#">
               <div class="text-center pt-3 pb-5">
                  <i class="fas fa-upload fa-6x"></i>
               </div>
               <div class="input-group mb-3">
                  <div class="custom-file">
                     <input type="file" class="custom-file-input" id="inputGroupFile01">
                     <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer text-center d-inline-block">
            <button type="button" class="btn btn-primary"><i class="fas fa-upload"></i> Upload</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancel</button>
         </div>
      </div>
   </div>
</div>
</div>
<!-- choose file modal end-->
