@{
ViewBag.Title = "My MoneyNow Portal";
}
<div class="row">
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-2">
      <a href="~/AccountDetails/Index" title="My Account" class="main-links">
         <div class="card">
            <div class="main-circle"><i class="far fa-building fa-3x"></i></div>
            <h6 class="pt-3">My Account</h6>
         </div>
      </a>
   </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-2">
      <a href="~/Transactions/Index" class="main-links" title="Transactions">
         <div class="card">
            <div class="main-circle"><i class="fas fa-street-view fa-3x"></i></div>
            <h6 class="pt-3">Transactions</h6>
         </div>
      </a>
   </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-2">
      <a href="~/Reporting/Index" class="main-links" title="Reporting">
         <div class="card">
            <div class="main-circle"><i class="fas fa-chart-line fa-3x"></i></div>
            <h6 class="pt-3">Reporting</h6>
         </div>
      </a>
   </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-2">
      <a href="~/CardDetails/Index" class="main-links" title="My Cards">
         <div class="card">
            <div class="main-circle"><i class="fas fa-credit-card fa-3x"></i></div>
            <h6 class="pt-3">My Cards</h6>
         </div>
      </a>
   </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-2">
      <a href="~/Payments/Make" class="main-links" title="Make Payment">
         <div class="card">
            <div class="main-circle"><i class="fas fa-shopping-cart fa-3x"></i></div>
            <h6 class="pt-3">Make Payment</h6>
         </div>
      </a>
   </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-2">
      <a href="~/Rewards/Index" class="main-links" title="My Rewards">
         <div class="card">
            <div class="main-circle"><i class="fas fa-trophy fa-3x"></i></div>
            <h6 class="pt-3">My Rewards</h6>
         </div>
      </a>
   </div>
</div>
<script>
   //displayCustomBGImage();
</script>
