
@{
    ViewBag.Title = "Unauthorized Access";
}

<html lang="en">
<body>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12 text-center font-light pt-4 pb-4">
            <span><i class="fas fa-exclamation-triangle fa-10x"></i></span>
            <h4 class="mt-3 mb-3">Access Denied/Forbidden</h4>
            <p class="mt-3 mb-3">The Page or resource you were trying to reach is absolutely forbidden for some reason</p>
            <a href="~/Home/Login" class="btn btn-primary mt-3 mb-2"><i class="fas fa-chevron-left"></i>&nbsp;Back To Login</a>
        </div>
    </div>
</body>
</html>

