@{
ViewBag.Title = "Dispute Logs";
}
<div class="row m-0">
   <div class="col-lg-6 pl-0 float-left">
      <ol class="breadcrumb mb-3">
         <li class="breadcrumb-item"><a href="~/Home/CSIndex">Home</a></li>
         <li class="breadcrumb-item active">Dispute Logs</li>
      </ol>
   </div>
   <div class="col-lg-6 pr-0 text-right float-left mt-0">
      <span class="font-light">Institution Name<a href="~/Home/CSIndex" class="font-light pl-2 switch-option">(Change)</a></span>
   </div>
</div>
<div class="row">
   <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 float-left">
      <h4 class="nav-header mt-0">NAVIGATION</h4>
      <ul class="navbar-nav nav-stacked">
         <li class="nav-item"><a class="nav-link" href="~/Home/CSIndex"><i class="fas fa-fw fa-home"></i> Home</a> </li>
         <li class="nav-item submenu">
            <a class="nav-link collapsed py-1" href="#submenu" data-toggle="collapse" data-target="#submenu"><i class="fas fa-fw fa-user"></i>&nbsp;Card Holder<span class="float-right"><i class="more-less fas fa-angle-down mr-0"></i></span></a>
            <div class="collapse" id="submenu" aria-expanded="false">
               <ul class="flex-column nav">
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardHolder/Home"><i class="fas fa-home"></i> Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardHolder/GroupList"><i class="fas fa-address-card"></i> Card Holder Group List</a></li>
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardHolder/List"><i class="far fa-credit-card"></i> Card Holder List</a></li>
                  <li class="nav-item"><a class="nav-link pl-3" href="~/CardholderOverview/Index"><i class="fas fa-id-card"></i>&nbsp;Card Holder Overview</a></li>
               </ul>
            </div>
         </li>
         <li class="nav-item"><a class="nav-link" href="~/CardBoarding/Index"><i class="fas fa-fw fa-plane"></i>&nbsp;Card Boarding</a></li>
         <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-fw fa-credit-card"></i>&nbsp;Reporting</a></li>
         <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shield-alt"></i>&nbsp;Authorizations</a></li>
         <li class="nav-item"><a class="nav-link" href="~/CSTransactions/Index"><i class="fas fa-street-view"></i>&nbsp;Transactions</a></li>
         <li class="nav-item active"><a class="nav-link" href="~/DisputeLogs/Index"><i class="fas fa-question"></i>&nbsp;Dispute Log</a></li>
      </ul>
   </div>
   <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12 float-left">
      <div class="col-md-12 col-sm-12 col-xs-12 pr-0 pl-0 mb-3">
         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 float-left pl-0 pr-1 mb-2">
            <select class="form-control form-control-sm" id="searchType">
               <option value="Search All">Search Type</option>
               <option value="type1">Type 1</option>
               <option value="type2">Type 2</option>
            </select>
         </div>
         <!-- <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 float-left pl-0 pr-1 mb-2">
            <input type="text" class="form-control" id="Search" placeholder="Enter Search Term">
            </div> -->
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 float-left pl-0 pr-1 mb-2">
            <input type="date" class="form-control" id="date" placeholder="From Date">
         </div>
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 float-left pl-0 pr-1 mb-2">
            <input type="date" class="form-control" id="date" placeholder="To Date">
         </div>
         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12 float-left pl-0 pr-0 text-left mb-2">
            <a class="btn btn-primary btn-first"><i class="fas fa-search"></i>&nbsp;Search</a>
         </div>
         <div class="clearfix"></div>
         <div class="card-header">
            <h5 class="mb-0">Dispute Logs
            </h5>
         </div>
         <div class="table-responsive">
            <table id="data-table" class="table" cellspacing="0" width="100%">
               <thead>
                  <tr>
                     <th>Transaction Date</th>
                     <th>Description</th>
                     <th>Transaction Type</th>
                     <th>Amount</th>
                     <th>Balance</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>0</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>-1.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Charge</td>
                     <td>100</td>
                     <td>898.5</td>
                  </tr>
                  <tr>
                     <td>2017-12-15</td>
                     <td>Misc Retail Vegas NV</td>
                     <td>Fee</td>
                     <td>1.5</td>
                     <td>987</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
